<form class = "container" name = "form" #f="ngForm" (ngSubmit)="sendNewUserForm()">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="text" class="form-control" id="email" aria-describedby="email" placeholder="Enter email" 
      [(ngModel)]="model.email" name="email">
      <small id="emailHelp" class="form-text text-muted">Please set corret mail address</small>
    </div>
    <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="User Name"
        [(ngModel)]="model.username" name="name">
        <small id="username" class="form-text text-muted">Please set your first name only</small>
      </div>
    <div class="form-group">
        <label for="smartspace">Smartspace Name</label>
        <input type="text" disabled class="form-control" id="smartspace" aria-describedby="smartspace" placeholder="2019B.giron.aptik">
        <small id="emailHelp" class="form-text text-muted">You can't change the Smartspace name.</small>
      </div>
      <div class="form-group">
          <label for="role">User Role</label>
          <input type="text" class="form-control" id="role" aria-describedby="role" placeholder="User Role"
          [(ngModel)]="model.role" name="role">
          <small id="username" class="form-text text-muted">PLAYER / MANAGER Only!</small>
        </div> 
      <div class="form-group">
          <label for="avatar">Avatar</label>
          <input type="text" class="form-control" id="avatar" placeholder="avatar" [(ngModel)]="model.avatar" name="avatar">
          <small id="emailHelp" class="form-text text-muted">Some nice Emojy will be fine</small>
        </div>
    <button type="submit" class="btn btn-primary">submit</button>
  </form>
