
       <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
   <link href="/src/assets/css/bootstrap.min.css" rel="stylesheet">

<div class="carousel slide">
  <ngb-carousel>
  <ng-template ngbSlide>
    <img src="../assets/img/3.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3></h3>
      <p></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/img/slider-02.jpg" alt="Random second slide">
    <div class="carousel-caption">
      <h3></h3>
      <p></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/img/Corporate-Training.jpg" alt="Random third slide">
    <div class="carousel-caption">
      <h3></h3>
      <p></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/img/slider-02.jpg" alt="Random fourth slide">
    <div class="carousel-caption">
      <h3></h3>
      <p></p>
    </div>
  </ng-template>
</ngb-carousel>
  </div>